<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block pageTitle %}Title{% endblock %}</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/Layout/MailReader/css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <h3 class="text-muted">Indoor Weather</h3>
    </div>

    <div class="jumbotron">
        <h1>Test</h1>
        <input type="hidden" id="weaterData" value="{{ weatherData }}" />
        <p></p>
    </div>


    <div class="row marketing">
        <div class="col-lg-6">
            {% block content %}
            {% endblock %}
        </div>
    </div>


    <footer class="footer">
        <p>&copy; 2022 t3x.ch</p>
    </footer>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script href="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
